# Dependencies
node_modules/
**/node_modules/

# Production builds
build/
**/build/
dist/
**/dist/
.next/
**/.next/
out/
**/out/

# Environment and OS files
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python & Virtual Environments
.venv/
nombre_del_entorno/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# IDE & Editor files
.vscode/
.idea/

# Local SQLite Database
dev.db

# Scratch temporary scripts
scratch/

